language: php

php:
  - 7.1
  - 7.2

matrix:
  allow_failures:
    - php: 7.3

before_script:
  - curl -s http://getcomposer.org/installer | php
  - php composer.phar install --dev

script: ./vendor/bin/phpunit --configuration phpunit.travis.xml --coverage-text
